.vpark {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 30px;
}
.vpark .titel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.vpark .titel .icons img {
  width: 25px;
  height: 20px;
}
.vpark .titel .icons img:first-child {
  margin-right: 15px;
}
.vpark .titel p {
  color: #081836;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}